*/.DS_Store
__pycache__/*
.DS_Store
*.pyc
.vscode
output*
*newick
temp.ipynb
debug*
*.egg-info
bin/tmp/*.fasta
_build
!aPhyloGeo/aphylogeo/bin/tmp/
aPhyloGeo/aphylogeo/bin/*

#Ignore virtual environments
.env
.venv
env/
venv/
ENV/
/scripts/aPhyloGeo_env
/aPhyloGeoEnv

#Ignore folders
build
dist
results
aphylogeo/bin/*.fasta

#tree
*.nwk

#Output
*.dnd

#Ignore process files
datasets/example/geneticTrees.json
result.csv
