*/.DS_Store
__pycache__/*
.DS_Store
*.pyc
.vscode
output*
*newick
temp.ipynb
debug*
*.egg-info
bin/tmp/*.fasta

#Ignore virtual environments
.env
.venv
env/
venv/
ENV/
/scripts/aPhyloGeo_env
/aPhyloGeoEnv

#Ignore the build directory (and its sub-directories):
build

#Ignore the distribution directory
dist
