appdirs==1.4.4
autopep8==1.5.4
biopython==1.79
certifi==2020.6.20
chardet==3.0.4
chembl-webresource-client==0.10.2
distlib==0.3.1
easydict==1.9
filelock==3.0.12
idna==2.10
joblib==0.17.0
numpy==1.19.4
pipenv==2020.11.15
protobuf==3.1.0
pycodestyle==2.6.0
requests==2.24.0
requests-cache==0.5.2
scikit-learn==0.23.2
scipy==1.5.4
six==1.15.0
tensorflow @ https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-0.12.0-py3-none-any.whl
threadpoolctl==2.1.0
toml==0.10.2
urllib3==1.25.11
virtualenv==20.3.0
virtualenv-clone==0.5.4
